@charset "utf-8";
header{
    height:200px;
    background-color: #2E61B8 ;
    width: 100%;
}

.container{
    width: 100%;
}


#botao-header{
    background-color: #2E61B8;
    border: none;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 130px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .row.fatecon{
    height: 200px;
}
.carrouselprincipal{
    height: 300px;
    border: 5px solid white;
    
}
.visual:hover{
    background-color: white;
    border-radius: 50%;
}


@media screen and (max-width: 480px) {
    .logo img{
        width: 200px;
        height: auto;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .logo img{
        width: 200px;
        height: auto;
    }
   
  
}

footer{
    /* height: 200px; */
    background-color: #2E61B8;
    align-items: center;
}

footer .row{
    align-items: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    margin-left: -30px;
}

footer ul li{
    
    list-style: none;
    padding: 8px;
}

footer ul li a{
    color: white;
}

 footer .row .col-5{
    border-right: white 1px solid;
    border-left: white 1px solid;
}

.social{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.social ul{
    justify-content: space-evenly;
}

@media screen and  (min-width: 1200px) {
    header .menu{
        display: none;
    }
    header{
        height: auto;
    }

    

    nav{
        background-color: #F7B323 ;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav a{
        color: black;
        text-decoration: none;
        border-left: 1px black solid;
        width: 12.5%;
        text-align: center;
        font-family: "Jomhuria", serif;
        font-weight: 400;
        font-size: xx-large;
    }
}

@media screen and  (max-width: 1200px){
    header nav{
        display: none;
    }
    
}

@media screen and (max-width: 1200px) {
    .logofooter{
        display: none;
    }
    footer .col-5 ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.dropdown ul{
    background-color: #F7B323;
    text-align: center;
    border-radius: 0px;
    
}
.dropdown li :hover{
    background-color: #df9e11;
}